h1{
  font-family: Arial, Helvetica,sans-serif;
  text-align: center;
}

#footer{
  font-family: Arial, Helvetica,sans-serif;
  text-align: center;
}

#memoria{
  font-family: Arial, Helvetica,sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #607d8b;
}

table{
  margin: 0 auto;
}

input{
  font-family: Arial, Helvetica,sans-serif;
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: white;
  background-color: #607d8b;
  border-radius: 10px;
  border:none;
}

#cadena{
  width: 304px;
  height: 92px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding-left: 10px;
  font-size: 30px;
}

.memoriaControladores{
  width: 420px;
  height: 50px;
}
