h1, p{
  font-family: Arial, Helvetica,sans-serif;
  text-align: center;
}

table{
  margin: 0 auto;
}

input{
  font-family: Arial, Helvetica,sans-serif;
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: white;
  background-color: #607d8b;
  border-radius: 10px;
  border:none;
}

#cadena{
  width: 304px;
  height: 92px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding-left: 10px;
  font-size: 30px;
}

.memoria{
  width: 420px;
  height: 50px;
}
